
*{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}


.navbar {
  max-width: 100%;
  height: 75px;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #323232;
  font-weight: bolder;
  font-size: 22px;
  z-index: 1000;
}

.navbar-collapse{
  background-color: white;
    display: inline;
}

.logo {
  height: 75px;
  width: 75px;
}

.content-image{
  margin-top: 20%;
}

.content-image2{
  height: 100%;
  width: 100%;
  margin-top: 20%;
}

.intro-title{
  font-weight: bolder;
  color: #323232;
  text-align: center;
}

.intro-content{
  text-align: center;
}

.cert-title{
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
}

.cert-header{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.footer{
  text-align: center;
}

#footer{
  background-color: aliceblue;
}

#home,#skills,#certificate-list{
  background-color: aliceblue;
  height: 100vh;
}

#certificate,#contact{
  height: 100vh;
}

.cert-view{
 margin: auto;
 display: block;
}



form{
  padding: 5% 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: start;
}

.holder{
  border-radius: 4px;
  size: 20px;
}

#message{
  border-radius: 4px;
  width: 100%;
  display: block;
  background-color: white;
  padding-left: 10px;
}

.form-label{
  color: #323232;
}

.contact-header{
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
  font-size: 35px;
  text-align: center;
  color: #323232;
}

.form-button{
  font-weight: bolder;
  background-color: #337ab7;
}

/* @media only screen and (max-width:700px){
  form{
      margin: 0px 10%;
  }
} */

/* Animations */

.fadeInDown{
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown{
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.slideInLeft{
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: .5s;
}

@keyframes slideInLeft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInRight{
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: .75s;
}

@keyframes slideInRight{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

/* Media */
@media (max-width:770px){
  #home,#skills,#certificate-list{
    background-color: white;
  }

  body,html {
    overflow-x: hidden; 
  }

  .cert-header{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

